@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<body>
<div class="text-center">
            <h5>ברוכים הבאים למסד הנתונים של חברת מידור</h5>
            <h6>כניסה למערכת</h6>
            <div>
                <p>
                    <input id="UserName" type="text" placeholder="שם משתמש" />
                </p>
            </div>
            <div>
                <p>
                    <input id="Password"  type="password" placeholder="סיסמא" />
                </p>
            </div>
            <button id="ButtonLogin" type="button">כניסה</button>

        </div>
    </body>
